
/*główny wygląd strony*/
html,body{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    background-image: url("candles.jpg") ;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    top:0;

}


/*menu*/
main{
    height:100%;
    width: 100%;
}

/*styl do karty menu i logowania*/
.container-fluid {
    position:relative;
    min-height:91%;
    text-align: center;
    max-height:150%;
    overflow:hidden;
}


.jumbotron.box
{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-bottom:0;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom, #ff6600 0%, #ffff00 100%);
    opacity:0.5;
    max-height:90%;

}

#login {
    top:50%;
    background: #ffdc45;
    opacity: 0.8;
}


.jumbotron{
    background:transparent !important;
}

.main{

}

/*stopka*/
 .footer {
bottom: 0;
width: 100%;
background-color: #0d0d0d;
color:#8c8c8c;
opacity:0.8;
}


.list-group-item {
background-color: black;
}

.card {
background-color: black;
opacity:0.9;
}

.carousel-caption {
 top:25%;
 left:45%;
 margin: 1rem;
 margin bottom:0;
 padding: 2rem;
}

.carousel-inner{
    height:100%
}




/*opinion*/
.starrating > input {display: none;}  /* Remove radio buttons */

.fa-star:before {
    content: "";
}

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.8em;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


.star:before{
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1em;
  display: inline-block;
  color: #ffca08;
}


.tab-content>.active
{
    margin:5% 5% 0% 5%;
}

.nav-tabs{
justify-content: center;
}


.h2 {
font-size:6vh;
}