/*główny wygląd strony*/
html,body{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    background-image: url("sunset.jpg") ;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    top:0;
    font-size:102%;

}

/*background*/
.allViewMax {
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-origin: padding-box;
    background-clip: border-box;
    margin: 0;
    padding: 0;
    min-height: 91.7vh;
    width: 100%;
    background-size: contain;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    top:0;
    padding:3% 0 3% 0;
}

.navbar {
    min-height: 8.3vh;
}

#registrationLogin {
    background-image: url("cemeteryy.jpg") !important;

}

#opinionNotlogin {
    background-image: url("rainbow.jpg") !important;
}

#menuLogin {
    background-image: url("flowerMenu.jpg") !important;
}

#user {
    background-image: url("nature.jpg") !important;
}


#submitOrder {
    background-image: url("pennsylvania.jpg") !important;
}


#opinion {
    background-image: url("opinion.jpg") !important;
}

#editYourOrder {
    background-image: url("EdityourOrder.jpg") !important;
}

#estimate {
    background-image: url("estimate.jpg") !important;
}



/*menu*/
main{
    height:100%;
    width: 100%;
}

/*styl do karty menu i logowania*/
.container-fluid {
    position:relative;
    min-height:91.5vh;
    text-align: center;
    max-height:150%;
    overflow:hidden;
}


.jumbotron.box
{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-bottom:0;
    padding: 1rem 2rem;
    background-color:black;
    opacity:0.8;
    max-height:90%;

}







.jumbotron{
    width: 100%;
}


/*stopka*/
 .footer {
bottom: 0;
width: 100%;
background-color: #0d0d0d;
color:#8c8c8c;
opacity:0.8;
}


.list-group-item {
background-color: black;
}

.card {
background-color: black;
opacity:0.9;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 83.4vh;
  background-color: #777;
}
.carousel-item > img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    top:0;
    height: 83.4vh;
}

.carousel-caption {
    height:100vh;
}


.carousel-inner{
    height:100%
}




/*opinion star*/
.starrating > input {display: none;}  /* Remove radio buttons */

.fa-star:before {
    content: "";
}

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.8em;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


.star:before{
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1em;
  display: inline-block;
  color: #ffca08;
}


.tab-content>.active
{
    margin:5% 5% 0% 5%;
}

.nav-tabs{
justify-content: center;
}

/*slide*/
.h2 {
font-size:8vh;
}

/*button*/
.btn-outcolor {

    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color:#495057;
}

.btn-outcolor:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color:#495057;
}

a{
    color:#495057;
}

a:hover{
    color:#495057;
}

.btn-outline-dark {
    color:white;
}

.btn {
    margin-left:0.5%;
    margin-right:0.5%;
}




/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.bg-inverse {
    background-color: #292b2c!important;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 5;
  bottom: 3rem;
    top:40%;
}


.menu {
    background-color: #0d0d0d;
    width: 100%;
    padding: 5% 10% 12% 10%;

}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bg-dark {
    background-color: #191919!important;
    color: whitesmoke;
}

.bg-dark:hover {
    color:whitesmoke;
}

i{
    margin-right:4%;
}

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
}

.nav-link {
    color:whitesmoke;
}

.nav-tabs .nav-link.active {
    color:black;
}

.form-control:focus {
    color:black;
}

.form-control {
    color:black;
}



/*input radio */
input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -5px;
    left: -1px;
    position: relative;
    background-color: #bec1be;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -5px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.userSpan
{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
}


/*boczny panel*/
#sidebar-wrapper {
  min-height: 91.4vh;
  /*margin-left: -20rem;*/
}


#sidebar-wrapper .panel-group {
  width: 20rem;
}


/*@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}*/


/*menu*/
@media (min-width: 768px) and (max-width: 899px){
    body {
        font-size:97%;
    }
    .menu {
        background-color: #0d0d0d;
        width: 100%;
    }
    .card-body {
        width: 100%;
    }
    .card {
        width: 160%;
    }

    .offset-4 {
        margin-left:23.9%;
    }

    .offset-3 {
        margin-left:11.5%;
    }

    .offset-2 {
        margin-left:10%;
    }

    #sidebar-wrapper .panel-group {
      width: 34vw;
    }

    h1 {
        font-size:180%
    }

    .carousel-caption {
        top: 32%;
    }
}


@media (min-width: 900px) and (max-width: 1023px) {

    body {
        font-size:97%;
    }
    .menu {
        background-color: #0d0d0d;
        width: 100%;

    }
    .card-body {
        width: 100%;
    }
    .card {
        width: 120%;
    }

    .offset-4 {
        margin-left:29.8%;
    }

    .offset-3 {
        margin-left:20.5%;
    }

    .offset-2 {
        margin-left:10%;
    }

    #sidebar-wrapper .panel-group {
      width: 30vw;
    }

    h1 {
        font-size:190%
    }

    .carousel-caption {
        top: 33%;
    }
}



@media (min-width: 1024px) and (max-width: 1439px) {

    body {
        font-size:99%;
    }
    .menu {
        background-color: #0d0d0d;
        width: 100%;
    }

    .card-body {
        width: 100%;
    }
    .card {
        width: 120%;
    }

    .offset-4 {
        margin-left:30.5%;
    }

    .offset-3 {
        margin-left:20.2%;
    }

    .offset-2 {
        margin-left:10%;
    }

    #sidebar-wrapper .panel-group {
      width: 30vw;
    }

    h1 {
        font-size:240%
    }

    .carousel-caption {
        top: 35%;
    }
}



@media (min-width: 1440px) and (max-width: 1919px){

    body {
        font-size: 115%;
    }
    .menu {
        background-color: #0d0d0d;
        width: 100%;
    }

    .card-body {
        width: 100%;
    }
    .card {
        width: 115%;
    }

    .offset-4 {
        margin-left:28.8%;
    }

    .offset-3 {
        margin-left:21.7%;
    }

    .offset-2 {
        margin-left:10%;
    }

    #sidebar-wrapper .panel-group {
      width: 30vw;
    }

    .btn {
        font-size: 105%;
    }

    input[type='radio']:after {
    width: 15px;
    height: 15px;
    top: -8px;
    left: -1px;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        top: -8px;
        left: -1px;
    }

}

@media (min-width: 1920px) {

    body {
        font-size: 150%;
    }
    .menu {
        background-color: #0d0d0d;
        width: 100%;
    }

    .navbar-brand  {
        font-size: 150%;
    }

    .panel-title
    {
        font-size: 140%;
    }

    .card-body {
        width: 100%;
    }
    .card {
        width: 140%;
    }

    .offset-4 {
        margin-left:26.8%;
    }

    .offset-3 {
        margin-left:15.7%;
    }

    .offset-2 {
        margin-left:10%;
    }

    #sidebar-wrapper .panel-group {
      width: 35vw;
    }

    .btn {
        font-size: 110%;
    }

    input[type='radio']:after {
    width: 15px;
    height: 15px;
    top: -12px;
    left: -1px;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        top: -12px;
        left: -1px;
    }

    .form-control {
        font-size: 2.5rem;
        height: calc(2.75rem + 2.5px);
    }

    h4  {
        font-size: 120%;
    }

    h1 {
        font-size: 170%;
    }

    .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.45rem;
    line-height: 1.4;
}
    .featurette-heading{
        font-size: 250%;
    }

    .lead{
        font-size: 150%;
    }


}



