
/*główny wygląd strony*/
html,body{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    background-image: url("candles.jpg");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}


/*menu*/
main{
    height:100%;
    width: 100%;
}

/*styl do karty menu i logowania*/
.container-fluid {
    position:relative;
    min-height:91%;
    text-align: center;
    max-height:150%;
    overflow:hidden;
}


.jumbotron.box
{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-bottom:0;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom, #ff6600 0%, #ffff00 100%);
    opacity:0.5;
    max-height:90%;

}

#login {
    top:50%;
    background: #ffdc45;
    opacity: 0.8;
}


.jumbotron{
    background:transparent !important;
}

.main{

}

/*stopka*/
 .footer {
position: absolute;
bottom: 0;
width: 100%;
background-color: #0d0d0d;
color:#8c8c8c;
opacity:0.8;
}


.list-group-item {
background-color: black;
}

.card {
background-color: black;
opacity:0.9;
}

.carousel-caption {
 top:25%;
 left:40%;
 margin: 1rem;
 margin bottom:0;
 padding: 2rem;
}




.rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: dodgerblue;

    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;

    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;

    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }