{% extends 'base.html' %}

{% block title %}Edytuj zamówienia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- if orders != None %}-->
<div class="jumbotron d-flex align-items-center justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <!-- for order in orders %}-->
                 <div class="list-group ">
                     <div  class="list-group-item list-group-item-action "  href="{% url 'Your order' %}?order_id={{order.id}}">
                     <a class="btn btn-outcolor" role="button">{{died.name}}  {{died.surname}}</a>

                         <a href="{% url 'Your order' %}" class="btn btn-outcolor float-right" role="button"><i class="fas fa-backspace"></i></a>
                    </div>
                </div>
                <!-- empty %}
                Utworzenie zamówienia przebiegło pomyślnie
                {% endfor -->
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                            <div class="col-md-12">
                                <h4>Edytuj zamówienie </h4>
                                <hr>
                            </div>
                      </div>
                        <div class="row-md-6">

                                   <form action="{% url 'Edit music'%}" method="post">
                                     {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="id_msc_type">Wybór instrumentu</label>
                                        </div>
                                            <div class="col-8" id="id_msc_type">
                                                {% if music.msc_type != None %}
                                                    {% if music.msc_type == "O" %}
                                                        <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio1" value="O" checked>
                                                        <label class="form-check-label" for="inlineRadio1">organy</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio2" value="T">
                                                        <label class="form-check-label" for="inlineRadio2">trąbka</label>
                                                        </div>

                                                <!--<form action="" autocomplete="off">-->
                                                    {% elif music.msc_type == "T" %}
                                                        <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio1" value="O">
                                                        <label class="form-check-label" for="inlineRadio1">organy</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio2" value="T" checked>
                                                        <label class="form-check-label" for="inlineRadio2">trąbka</label>
                                                        </div>
                                                    {% endif %}
                                                {% else %}

                                                     <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio1" value="O" required>
                                                        <label class="form-check-label" for="inlineRadio1">organy</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="msc_type" id="inlineRadio2" value="T" required>
                                                        <label class="form-check-label" for="inlineRadio2">trąbka</label>
                                                    </div>
                                                {% endif %}
                                                <!--</form>-->
                                                {% if formErrors.msc_type %}
                                                    <p style="color: red;">
                                                        To pole jest wymagane
                                                    </p>
                                                {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="id_songs">Lista utworów</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea type="text" name="songs" placeholder="Proszę podać parę tytułów wybranych utworów" class="form-control"
                                                      id="id_songs" autofocus="" required>{{music.songs}}</textarea>
                                            {% if formErrors.songs %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_costs">Całkowita cena:</label>
                                    </div>
                                    <div class="col-8" id="id_costs">
                                      <span class="costs" for="costs">
                                          <li>{{costs}}</li></span>
                                    </div>
                                </div>

                            <div class="offset-4 col-8">
                                        <input class="btn btn-outline-dark" type="submit" value="Zapisz"/>
                            </div></form>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- else %}
<div class="container-fluid" >
    <div class="jumbotron box">
        <div class="container">
            <div class="row-sm-12 mt-4 mb-4">
                <div class="col-sm-12">
                    <h2>Nie posiadasz jeszcze żadnego zamówienia, proszę przejść w zakładkę "Złóż zamówienie"</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif -->

{% else %}

  <p>You are not logged in</p>


{% endif %}

{% endblock %}