{% extends 'base.html' %}

{% block title %}Edytuj zamówienia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- if orders != None %}-->
<div class="jumbotron d-flex align-items-center justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <!-- for order in orders %}-->
                 <div class="list-group ">
                  <div  class="list-group-item list-group-item-action active" href="{% url 'Your order' %}?order_id={{order.id}}">
                      {{died.name}} {{died.surname}}
                  </div>
                </div>
                <!-- empty %}
                Utworzenie zamówienia przebiegło pomyślnie
                {% endfor -->
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                            <div class="col-md-12">
                                <h4>Edytuj zamówienie </h4>
                                <hr>
                            </div>
                      </div>
                        <div class="row-md-6">
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link " href="{%url 'Edit your order'%}">Zmarły</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " href="{%url 'Edit your order coffin'%}">Trumna</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="{%url 'Edit your order flower'%}">Kwiaty</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link disabled" href="{%url 'Edit your order music'%}">Oprawa muzyczna</a>
                              </li>
                            </ul>
                            </br>
                                      <form action="{% url 'Edit flowers'%}" method="post">
                                     {% csrf_token %}
                                      <div class="form-group row">
                                        <div class="col-4">
                                            <label for="size">Wielkość wiązanki</label>
                                        </div>
                                        <div class="col-8" id="size">
                                            {% if flower.size != None %}
                                                {% if flower.size == "S" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="S" checked>
                                                        <label class="form-check-label" for="inlineRadio1">Mała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="M">
                                                        <label class="form-check-label" for="inlineRadio2">Średnia</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="B">
                                                        <label class="form-check-label" for="inlineRadio3">Duża</label>
                                                    </div>
                                                {% elif flower.size == "M" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="S">
                                                        <label class="form-check-label" for="inlineRadio1">Mała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="M" checked>
                                                        <label class="form-check-label" for="inlineRadio2">Średnia</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="B">
                                                        <label class="form-check-label" for="inlineRadio3">Duża</label>
                                                    </div>
                                                {% elif flower.size == "B" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="S">
                                                        <label class="form-check-label" for="inlineRadio1">Mała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="M">
                                                        <label class="form-check-label" for="inlineRadio2">Średnia</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="B" checked>
                                                        <label class="form-check-label" for="inlineRadio3">Duża</label>
                                                    </div>
                                                {% endif %}
                                            {%else%}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="S"required>
                                                    <label class="form-check-label" for="inlineRadio1">Mała</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="M" required>
                                                    <label class="form-check-label" for="inlineRadio2">Średnia</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="B" required>
                                                    <label class="form-check-label" for="inlineRadio3">Duża</label>
                                                </div>
                                            {% endif %}


                                                {% if formErrors.size %}
                                                    <p style="color: red;">
                                                        To pole jest wymagane
                                                    </p>
                                                {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="color">Kolory</label>
                                        </div>
                                        <div class="col-8" id="color">
                                            {% if flower.color != None %}
                                                {% if flower.color == "Wh" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh" checked>
                                                        <label class="form-check-label" for="inlineRadio1">Biała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl">
                                                        <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi">
                                                        <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi">
                                                        <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                                    </div>
                                                {% elif flower.color == "Bl" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh">
                                                        <label class="form-check-label" for="inlineRadio1">Biała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl" checked>
                                                        <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi">
                                                        <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi">
                                                        <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                                    </div>
                                                {% elif flower.color == "Pi" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh">
                                                        <label class="form-check-label" for="inlineRadio1">Biała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl">
                                                        <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi" checked>
                                                        <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi">
                                                        <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                                    </div>
                                                {% elif flower.color == "Mi" %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh">
                                                        <label class="form-check-label" for="inlineRadio1">Biała</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl">
                                                        <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi">
                                                        <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi" checked>
                                                        <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                                    </div>
                                                {% endif %}
                                            {%else %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh" required>
                                                    <label class="form-check-label" for="inlineRadio1">Biała</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl" required>
                                                    <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi" required>
                                                    <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi" required>
                                                    <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                                </div>
                                            {% endif %}



                                                {% if formErrors.color %}
                                                    <p style="color: red;">
                                                        To pole jest wymagane
                                                    </p>
                                                {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="example-number-input">Ilość wiązanek</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control" type="number" name="count" required value="{{flower.count}}" id="example-number-input">

                                            {% if formErrors.count %}
                                                <p style="color: red;">
                                                    To pole jest wymagane
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="id_description_flowers">Opis</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea type="text" name="description" placeholder="Opis kwiatów" required
                                                      class="form-control"  id="id_description_flowers" autofocus="">{{flower.description}}</textarea>
                                        </div>
                                    </div>
                                      </form>
                                  </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_costs">Całkowita cena:</label>
                                    </div>
                                    <div class="col-8" id="id_costs">
                                      <span class="costs" for="costs">
                                          <li>{{costs}}</li></span>
                                    </div>
                                </div>

                            <div class="offset-4 col-8">
                                        <input class="btn btn-outline-dark" type="submit" value="Zapisz"/>
                            </div></form>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- else %}
<div class="container-fluid" >
    <div class="jumbotron box">
        <div class="container">
            <div class="row-sm-12 mt-4 mb-4">
                <div class="col-sm-12">
                    <h2>Nie posiadasz jeszcze żadnego zamówienia, proszę przejść w zakładkę "Złóż zamówienie"</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif -->

{% else %}

  <p>You are not logged in</p>


{% endif %}

{% endblock %}