{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid allViewMax" id="menuLogin" >
    <div class="jumbotron box">
        <div class="container">
            <div class="row-sm-12 mt-4 mb-4">
                <div class="col-sm-12">
                    <h2>Dzięki nam stworzysz swoje ostatnie pożegnanie ze swoją rodziną/przyjaciółmi</h2>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
<!--
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/static/css/candle.jpg" alt="First slide">
        <div class="carousel-caption col-6">
            <div class="container-fluid ">
                <div class="jumbotron">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="h2">Dzięki nam stworzysz zamówienie na usługe pogrzebową </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="/static/css/angel.jpg" alt="Second slide">
        <div class="carousel-caption col-6 ">
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="h2">Będziesz mógł spersonalizować zamówioną usługe przed śmiercią </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/css/bird.jpg" alt="Third slide">
        <div class="carousel-caption col-6 ">
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="h2">Zdecydujesz czy organista będzię grał na pogrzebie </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
      <div class="carousel-item">
      <img class="d-block w-100 h-100" src="/static/css/flower.jpg" alt="Third slide">
           <div class="carousel-caption col-6 ">
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="h2">Będziesz mógł wybrać rodzaj kwiatów/trumne</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

      <div class="carousel-item">
      <img class="d-block w-100" src="/static/css/cemetery.jpg" alt="Third slide">
           <div class="carousel-caption col-6 ">
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="h2">Aby korzystać z usług proszę się zalogować lub utworzyć konto</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>

</div>-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="/static/css/candle.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right offset-5 col-4">
              <h1>Usługa pogrzebowa</h1>
                <p>Dzięki nam stworzysz zamówienie na usługe pogrzebową</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="/static/css/angel.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right offset-5 col-4">
              <h1>Perosnalizacja usługi</h1>
                <p>Będziesz mógł spersonalizować zamówioną usługe przed śmiercią</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="/static/css/bird.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right offset-5 col-4">
              <h1>Utwory i muzycy</h1>
                <p>Zdecydujesz o utworach na swoim pogrzebie oraz czy organista będzie grał</p>
            </div>
          </div>
        </div>
          <div class="carousel-item">
          <img class="fourth-slide" src="/static/css/flower.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right offset-5 col-4">
              <h1>Trumna i kwiaty</h1>
                <p>Będziesz mógł wybrać rodzaj kwiatów/trumne</p>
            </div>
          </div>
        </div>
          <div class="carousel-item">
          <img class="fifth-slide" src="/static/css/cemetery.jpg" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right offset-5 col-4">
              <h1>Skorzystaj z usługi</h1>
                <p>Aby korzystać z usług proszę się zalogować lub utworzyć konto</p> </div>
          </div>
          </div>
      </div>


      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


<div class=" menu">
      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Śmierć jest nieodłączną częścią naszego życia. <span class="text-muted">Dlatego stwórz swój pogrzeb.</span></h2>
            <p class="lead">Dokładamy wszelkich starań, aby twoje wszystkie życzenia w dniu Twojego pogrzebu były spełnione.
            Będziesz mógł, dzięki nam przekazać swoją ostatnią wolę. Niestety nie jesteśmy wstanie oszacować teraz kosztu pogrzebu,
                ponieważ każdy jest inny.
            Aktualny koszt będzie przekazany twoim bliskim</p>
        </div>
      </div>

      <hr class="featurette-divider">


    </div><!-- /.container -->





{% endif %}

{% endblock %}