{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}



<div class="container-fluid">
   <div class="jumbotron box" id="login">
       <div class="row">
            <div class="col-md-12">
            <form method="post">
                <h2>Rejestracja</h2>
                {% csrf_token %}
                <div class="input mb-3">
                <label for="id_username"></label>
                <input type="text" name="username" placeholder="Nazwa użytkownika" class="form-control" required="" id="id_username" autofocus="" maxlength="150">
                    <small class="form-text text-muted">
                        <strong>Może zawierać: </strong>
                    </small>

                    <label for="id_password1"></label>
                <input type="password" name="password1" minlength="8" placeholder="Hasło" class="form-control" id="id_password1" required="">
                    <small class="form-text text-muted">
                        <strong>Musi zawierać </strong>
                    </small>

                <label for="id_password2"></label>
                <input type="password" name="password2" minlength="8" placeholder="Powtórz hasło" class="form-control" class="form-control" id="id_password2" required="">


                    <label for="id_name"></label>
                <input type="text" name="name" placeholder="Imię" class="form-control" required="" id="id_name" autofocus="" maxlength="150">
                    <small class="form-text text-muted">
                        <strong>Może zawierać: </strong>
                    </small>


                    <label for="id_surname"></label>
                <input type="text" name="surname" placeholder="Nazwisko" class="form-control" required="" id="id_surname" autofocus="" maxlength="150">
                    <small class="form-text text-muted">
                        <strong>Może zawierać: </strong>
                    </small>

                <label for="id_tel_num"></label>
                <input type="tel" name="tel_num" placeholder="Numer telefonu" class="form-control" id="id_tel_num" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" required>
                    <small class="form-text text-muted">
                        <strong>Powinien mieć format xxx-xxx-xxx</strong>
                    </small>

                    <label for="id_email"></label>
                <input type="email" name="email" placeholder="E-mail" class="form-control" id="id_email" maxlength="254">
                    <small class="form-text text-muted">
                        <strong>Powinien mieć format </strong>
                    </small>


                </div>
                <button class="btn btn-outline-dark" type="submit">Zarejestruj się</button>
                <input type="hidden" name="next" value="{% url 'Home' %}" >
            </form>
            </div>
    </div>
   </div>
</div>




{% endblock %}