{% extends 'base.html' %}

{% block title %}Złóż zamówienie{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="{% url 'Submit order' %}" class="list-group-item list-group-item-action active">Zmarły</a>
                    <a href="{% url 'Submit order coffin' %}" class="list-group-item list-group-item-action">Trumna</a>
                    <a href="{% url 'Submit order flowers' %}" class="list-group-item list-group-item-action">Kwiaty</a>
                    <a href="{% url 'Submit order music' %}" class="list-group-item list-group-item-action">Oprawa
                        muzyczna</a>
                </div>
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Zmarły</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row-md-6">
                            <form action="{% url 'Submit order' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_name_death">Imie</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="name" placeholder="Imię" value="{{died.name}}" class="form-control"
                                               id="id_name_death" autofocus="" maxlength="150">
                                        {% if formErrors.name  %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_surname_death">Nazwisko</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="surname" placeholder="Nazwisko" value="{{died.surname}}" class="form-control"
                                               id="id_surname_death" autofocus="" maxlength="150">
                                        {% if formErrors.surname  %}
                                            <p style="color: red;">
                                                 To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="gender">Płeć</label>
                                    </div>
                                    <div id="gender" class="col-8">
                                        <!--<form action="" autocomplete="off">-->
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="inlineRadio1" value="F">
                                            <label class="form-check-label" for="inlineRadio1">Kobieta</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="inlineRadio2" value="M">
                                            <label class="form-check-label" for="inlineRadio2">Mężczyzna</label>
                                        </div>
                                        {% if formErrors.gender  %}
                                            <p style="color: red;">
                                                 To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_date_birth">Data urodzenia</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="date" name="date_birthday" placeholder="Data urodzenia"
                                               class="form-control" id="id_date_birth" autofocus="" maxlength="150" value="{{ died.date_birthday }}">
                                        {% if formErrors.date_birthday  %}
                                            <p style="color: red;">
                                                  To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_date_birth">Data śmierci</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="date" name="date_died" placeholder="Data śmierci" value="{{ died.date_died }}"
                                               class="form-control" id="id_date_death" autofocus="" maxlength="150">
                                        {% if formErrors.date_died %}
                                            <p style="color: red;">
                                               To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_transcription">Transkrypcja</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="transcription" placeholder="Transkrypcja" value="{{ died.transcription }}"
                                               class="form-control" id="id_transcription" autofocus="" maxlength="150">
                                        {% if formErrors.transcription %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="makeup">Makijaż</label>
                                    </div>
                                    <div class="col-8" id="makeup">
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="makeup" id="inlineRadio1" value="Y">
                                            <label class="form-check-label" for="inlineRadio1">Tak</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="makeup" id="inlineRadio2" value="L">
                                            <label class="form-check-label" for="inlineRadio2">Lekki</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="makeup" id="inlineRadio3" value="N">
                                            <label class="form-check-label" for="inlineRadio3">Nie</label>
                                          </div>
                                    <!--NIE DZIALA TEN ERROR-->
                                        {% if formErrors.makeup %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                  </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_outfit">Ubranie</label>
                                    </div>
                                    <div class="col-8" id="id_outfit">
                                        <textarea type="text" name="outfit" placeholder="Ubiór zmarłego w dniu pogrzebu"
                                                  class="form-control" required="" id="id_transcription" autofocus="">{{ died.outfit }}</textarea>
                                    </div>
                                </div>
                                <div class="offset-4 col-8">
                                    <input class="btn btn-outline-dark" type="submit" value="Zapisz"/>
                                    <a href="{% url 'Submit order coffin' %}" class="btn btn-outline-dark" role="button"
                                       aria-disabled="true">Dalej</a>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% else %}

<p>You are not logged in</p>


{% endif %}

{% endblock %}