{% extends 'base.html' %}

{% block title %}Podsumowanie zamówienia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                            <div class="col-md-12">
                                <h4>Podsumowanie zamówienia </h4>
                                <hr>
                            </div>
                      </div>
                        <div class="row-md-6">
                            <form>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Zmarły</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="died"><li>{{ died.name }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Trumna</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="coffin"><li>{{ coffin.description }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Kwiaty</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="flowers"><li>{{ flowers.description }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Muzyka</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="flowers"><li>{{ music.msc_type }}</li></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Całkowita cena:</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="all_price"><li></li></span>
                                    </div>
                                </div>
                            </form>
                          <div class="form- row offset-2 col-8">
                              <a href="{% url 'Submit order music' %}"  class="btn btn-outline-dark" role="button" aria-disabled="true">Wróć do zamówienia</a>
                              <form action="{% url 'Summary submit order' %}" method="post">
                                  {% csrf_token %}
                                  <input type="submit" value="Potwierdż" class="btn btn-outline-dark" />
                              </form>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

  <p>You are not logged in</p>


{% endif %}

{% endblock %}