{% extends 'base.html' %}

{% block title %}Złóż zamówienie{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                 <div class="list-group ">
                  <a href="{% url 'Submit order' %}" class="list-group-item list-group-item-action ">Zmarły</a>
                  <a href="{% url 'Submit order coffin' %}" class="list-group-item list-group-item-action">Trumna</a>
                  <a href="{% url 'Submit order flowers' %}" class="list-group-item list-group-item-action active">Kwiaty</a>
                     <a href="{% url 'Submit order music' %}" class="list-group-item list-group-item-action">Oprawa muzyczna</a>

                </div>
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                            <div class="col-md-12">
                                <h4>Kwiaty</h4>
                                <hr>
                            </div>
                      </div>
                        <div class="row-md-6">
                            <form action="{% url 'Submit order flowers'%}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="size">Wielkość wiązanki</label>
                                    </div>
                                    <div class="col-8" id="size">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="S">
                                                <label class="form-check-label" for="inlineRadio1">Mała</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="M">
                                                <label class="form-check-label" for="inlineRadio2">Średnia</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="B">
                                                <label class="form-check-label" for="inlineRadio3">Duża</label>
                                            </div>

                                            {% if formErrors.size %}
                                                <p style="color: red;">
                                                    To pole jest wymagane
                                                </p>
                                            {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="color">Kolory</label>
                                    </div>
                                    <div class="col-8" id="color">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="Wh">
                                                <label class="form-check-label" for="inlineRadio1">Biała</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="Bl">
                                                <label class="form-check-label" for="inlineRadio2">Niebieska</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="Pi">
                                                <label class="form-check-label" for="inlineRadio3">Różowa</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="color" id="inlineRadio4" value="Mi">
                                                <label class="form-check-label" for="inlineRadio3">Wymieszane wszystkie powyższe kolory</label>
                                            </div>

                                            {% if formErrors.color %}
                                                <p style="color: red;">
                                                    To pole jest wymagane
                                                </p>
                                            {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="example-number-input">Ilość wiązanek</label>
                                    </div>
                                    <div class="col-8">
                                        <input class="form-control" type="number" name="count" value="{{flower.count}}" id="example-number-input">

                                        {% if formErrors.count %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_description_flowers">Opis</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea type="text" name="description" placeholder="Dodatkowy opis kwiatów"
                                                  class="form-control"  id="id_description_flowers" autofocus="">{{flower.description}}</textarea>
                                    </div>
                                </div>

                                    <!--<div class="form-group row">-->
                                        <!--<div class="col-4">-->
                                            <!--<label for="price">Cena za zamówione kwiaty</label>-->
                                        <!--</div>-->
                                        <!--<div class="col-8" id="price">-->
                                          <!--<span data-model-name="price" class="custom-control-description"><b>trzeba jakos wyliczac</b></span>-->

                                            <!--{% if formErrors.price %}-->
                                            <!--<p style="color: red;">-->
                                            <!--</p>-->
                                            <!--{% endif %}-->
                                        <!--</div>-->


                                    <!--</div>-->
                          <div class="offset-3 col-8">
                              <a href="{% url 'Submit order coffin' %}"  class="btn btn-outline-dark" role="button" aria-disabled="true">Powrót</a>
                              <input type="submit" value="Zapisz" class="btn btn-outline-dark" />
                              <a href="{% url 'Submit order music' %}"  class="btn btn-outline-dark" role="button" aria-disabled="true">Dalej</a>
                          </div></form>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

  <p>You are not logged in</p>


{% endif %}

{% endblock %}