{% extends 'base.html' %}

{% block title %}Złóż zamówienie{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="{% url 'Submit order' %}" class="list-group-item list-group-item-action">Zmarły</a>
                    <a href="{% url 'Submit order coffin' %}" class="list-group-item list-group-item-action active">Trumna</a>
                    <a href="{% url 'Submit order flowers' %}" class="list-group-item list-group-item-action">Kwiaty</a>
                    <a href="{% url 'Submit order music' %}" class="list-group-item list-group-item-action">Oprawa
                        muzyczna</a>
                </div>
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Trumna</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row-md-6">
                            <form action="{% url 'Submit order coffin' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="size">Rozmiar</label>
                                    </div>
                                    <div class="col-8" id="size">
                                        {% if coffin.size != None %}
                                            {% if coffin.size == "A" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-adult" value="A" checked>
                                                    <label class="form-check-label" for="size-adult">Dorosły</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-child" value="C">
                                                    <label class="form-check-label" for="size-child">Dziecko</label>
                                                </div>
                                            {% elif coffin.size == "C" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-adult" value="A">
                                                    <label class="form-check-label" for="size-adult">Dorosły</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-child" value="C" checked>
                                                    <label class="form-check-label" for="size-child">Dziecko</label>
                                            </div>
                                            {% endif %}
                                        {%else%}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size"
                                                       id="size-adult" value="A" required>
                                                <label class="form-check-label" for="size-adult">Dorosły</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size"
                                                       id="size-child" value="C" required>
                                                <label class="form-check-label" for="size-child">Dziecko</label>
                                            </div>
                                        {% endif %}
                                            {% if formErrors.size %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="wood">Rodzaj drewna</label>
                                    </div>
                                    <div class="col-8" id="wood">
                                        {% if coffin.wood != None %}
                                            {% if coffin.wood == "O" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O" checked>
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B">
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P">
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% elif coffin.wood == "B" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O">
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B" checked>
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P">
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% elif coffin.wood == "P" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O">
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B">
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P" checked>
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% endif %}
                                        {%else%}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio1" value="O" required>
                                                <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio2" value="B" required>
                                                <label class="form-check-label" for="inlineRadio2">Buk</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio3" value="P" required>
                                                <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                            </div>
                                         {%endif%}
                                        {% if formErrors.wood %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_description_coffin">Opis</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea name="description"
                                                  placeholder="Opis trumny" class="form-control" required=""
                                                  id="id_description_coffin" autofocus="">{{coffin.description}}</textarea>
                                        {% if formErrors.description %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="offset-3 col-8">
                                    <a href="{% url 'Submit order' %}" class="btn btn-outline-dark"
                                       role="button" aria-disabled="true">Powrót</a>
                                    <input type="submit" value="Zapisz" class="btn btn-outline-dark" />
                                    <a href="{% url 'Submit order flowers' %}" class="btn btn-outline-dark"
                                       role="button" aria-disabled="true">Dalej</a>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>
</div>
</div>
-->

<div class="d-flex" id="wrapper">
    <div class="bg-dark border-dark" id="sidebar-wrapper">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                         <a data-toggle=" show" href="#collapse1" class="drop-down list-group-item list-group-item-action a_style active bg-dark">Złóż zamówienie</a>
                     </h5>
                </div>
                <div id="collapse1" class="panel-collapse show">
                    <ul class="list-group">
                        <a href="{% url 'Submit order' %}" class="list-group-item list-group-item-action bg-dark">Zmarły</a>
                        <a href="{% url 'Submit order coffin' %}" class="list-group-item list-group-item-action a_style active bg-dark">Trumna</a>
                        <a href="{% url 'Submit order flowers' %}" class="list-group-item list-group-item-action bg-dark">Kwiaty</a>
                        <a href="{% url 'Submit order music' %}" class="list-group-item list-group-item-action bg-dark">Oprawa muzyczna</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Trumna</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row-md-6">
                            <form action="{% url 'Submit order coffin' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="size">Rozmiar</label>
                                    </div>
                                    <div class="col-8" id="size">
                                        {% if coffin.size != None %}
                                            {% if coffin.size == "A" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-adult" value="A" checked>
                                                    <label class="form-check-label" for="size-adult">Dorosły</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-child" value="C">
                                                    <label class="form-check-label" for="size-child">Dziecko</label>
                                                </div>
                                            {% elif coffin.size == "C" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-adult" value="A">
                                                    <label class="form-check-label" for="size-adult">Dorosły</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="size"
                                                           id="size-child" value="C" checked>
                                                    <label class="form-check-label" for="size-child">Dziecko</label>
                                            </div>
                                            {% endif %}
                                        {%else%}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size"
                                                       id="size-adult" value="A" required>
                                                <label class="form-check-label" for="size-adult">Dorosły</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="size"
                                                       id="size-child" value="C" required>
                                                <label class="form-check-label" for="size-child">Dziecko</label>
                                            </div>
                                        {% endif %}
                                            {% if formErrors.size %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="wood">Rodzaj drewna</label>
                                    </div>
                                    <div class="col-8" id="wood">
                                        {% if coffin.wood != None %}
                                            {% if coffin.wood == "O" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O" checked>
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B">
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P">
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% elif coffin.wood == "B" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O">
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B" checked>
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P">
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% elif coffin.wood == "P" %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio1" value="O">
                                                    <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio2" value="B">
                                                    <label class="form-check-label" for="inlineRadio2">Buk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="wood"
                                                           id="inlineRadio3" value="P" checked>
                                                    <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                                </div>
                                            {% endif %}
                                        {%else%}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio1" value="O" required>
                                                <label class="form-check-label" for="inlineRadio1">Dąb</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio2" value="B" required>
                                                <label class="form-check-label" for="inlineRadio2">Buk</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="wood"
                                                       id="inlineRadio3" value="P" required>
                                                <label class="form-check-label" for="inlineRadio3">Sosna</label>
                                            </div>
                                         {%endif%}
                                        {% if formErrors.wood %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="id_description_coffin">Opis</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea name="description"
                                                  placeholder="Opis trumny" class="form-control" required=""
                                                  id="id_description_coffin" autofocus="">{{coffin.description}}</textarea>
                                        {% if formErrors.description %}
                                            <p style="color: red;">
                                                To pole jest wymagane
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="offset-3 col-8">
                                    <a href="{% url 'Submit order' %}" class="btn btn-outline-dark"
                                       role="button" aria-disabled="true">Powrót</a>
                                    <input type="submit" value="Zapisz" class="btn btn-outline-dark" />
                                    <a href="{% url 'Submit order flowers' %}" class="btn btn-outline-dark"
                                       role="button" aria-disabled="true">Dalej</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<p>You are not logged in</p>


{% endif %}

{% endblock %}