{% extends 'base.html' %}

{% block title %}Twoje zamówienia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                 <div class="list-group ">
                  <a  class="list-group-item list-group-item-action ">Zmarły: Imie Nazwisko</a>
                </div>
            </div>
            <div class="offset-1 col-6">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                            <div class="col-md-12">
                                <h4>Imie Nazwisko</h4>
                                <hr>
                            </div>
                      </div>
                        <div class="row-md-6">
                          <form>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Zmarły</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="died"><li>{{ died.name }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Trumna</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="coffin"><li>{{ coffin.description }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Kwiaty</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="flowers"><li>{{ flowers.description }}</li></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Muzyka</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="flowers"><li>{{ music.msc_type }}</li></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="">Całkowita cena:</label>
                                    </div>
                                    <div class="col-8">
                                      <span class="all_price"><li></li></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

  <p>You are not logged in</p>


{% endif %}

{% endblock %}